
.Logo img{
    height: 80px;
    width: 80px;
}
.footer{
    display: flex;
    gap: 10%;
    background-color:#121126;
}
.Logo{
    margin-top: 1%;
}
.info{
    display: flex;
    gap: 590px;
}
.Resources{
    margin-left: 20%;
}
.social-media{
    gap: 10%;
    padding-top: 2%;
}
.Contact img{
    height: 30px;
    width: 30px;
}
.social-media a img{
    height: 30px;
    width: 30px;
}
.Resources li a{
    text-decoration: none;
    color: white;
}
.Resources ul{
    list-style: none;
}
h4{
    color: white;
}
span{
    color: white;
}
.Resources h4{
    padding-left: 35%;
    font-size: 20px;
}
.Contact img{
    margin-right: 3%;
}

@media (min-width: 270px) and (max-width: 550px){
    .info{
        display: flex;
        gap: 35px;
    }
    .Logo img{
        height: 60px;
        width: 60px;
        margin-top: 10%;
    }
    .social-media{
        padding-top: 6%;
        margin-left: 2%;
    }
    .footer{
        display: flex;
        gap: 0%;
        background-color:#121126;
        /* flex-wrap: wrap; */
    }
    .Logo img{
        height: 50px;
        width: 50px;
    }
    .Resources li a{
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
    h4{
        color: white;
        font-size: 14px;
    }
    span{
        color: white;
        font-size: 12px;
    }
    .Resources h4{
        padding-left: 35%;
        font-size: 14px;
    }
    .Resources{
        margin-left: 1%;
        margin-top: 1%;
    }
    .Contact img{
        height: 15px;
        width: 15px;
    }
    .social-media a img{
        height: 15px;
        width: 15px;
    }
    .Contact{
        margin-top: 1%;
    }
}

@media (min-width: 560px) and (max-width: 950px){
    .info{
        display: flex;
        gap: 165px;
    }
    .Logo img{
        height: 60px;
        width: 60px;
        margin-top: 0%;
    }
    .social-media{
        padding-top: 3%;
        margin-left: 2%;
    }
    .footer{
        display: flex;
        gap: 10%;
        background-color:#121126;
        /* flex-wrap: wrap; */
    }
    .Resources li a{
        text-decoration: none;
        color: white;
        font-size: 12px;
    }
    h4{
        color: white;
        font-size: 18px;
    }
    span{
        color: white;
        font-size: 12px;
    }
    .Resources h4{
        padding-left: 35%;
        font-size: 18px;
    }
    .Resources{
        margin-left: 1%;
        margin-top: 1%;
    }
    .Contact img{
        height: 15px;
        width: 15px;
    }
    .social-media a img{
        height: 30px;
        width: 30px;
    }
    .Contact{
        margin-top: 1%;
    }
}

@media (min-width: 1000px) and (max-width: 1300px){
    .info{
        display: flex;
        gap: 265px;
    }
    .Logo img{
        height: 60px;
        width: 60px;
        margin-top: 0%;
    }
    .social-media{
        padding-top: 3%;
        margin-left: 2%;
    }
    .footer{
        display: flex;
        gap: 10%;
        background-color:#121126;
        /* flex-wrap: wrap; */
    }
    .Resources li a{
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    h4{
        color: white;
        font-size: 20px;
    }
    span{
        color: white;
        font-size: 15px;
    }
    .Resources h4{
        padding-left: 35%;
        font-size: 20px;
    }
    .Resources{
        margin-left: 1%;
        margin-top: 1%;
    }
    .Contact img{
        height: 15px;
        width: 15px;
    }
    .social-media a img{
        height: 30px;
        width: 30px;
    }
    .Contact{
        margin-top: 1%;
    }
}
